@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600;700&display=swap');


*, *:after, *:before {
	box-sizing: border-box;
    margin: 0%;
    padding: 0%;
    font-family: inter;
}

@mixin button($color, $bgcolor, $padding, $radius, $ftsize) {
    color: $color;
    background-color: $bgcolor;
    padding: $padding;
    border-radius: $radius;
    font-size: $ftsize;
}

body {
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 100vh;
    place-items: center;
    background-color: #080808;
}

.container {
    background-color: #1e1e1e;
    max-width: 400px;
    padding: 1rem;

    section {
        display: flex;
        gap: 10px;
        justify-content: center;
    }

    H2 {
        text-align: center;
        color: #606060;
    }

    h1 {
        font-size: 192px;
        line-height: 198px;
        color: #606060;
        text-align: center;
    }
    
    .sum {
        @include button(white, #215BFF,16px 24px, 4px, 24px);
        border: none;
        font-family: Neue Haas Grotesk Display Pro;
        font-weight: 600;
    }
    .rest {
        @include button(white, #FF4921,16px 24px, 4px, 24px);
        border: none;
        font-family: Neue Haas Grotesk Display Pro;
        font-weight: 600;
    }

    .again {
        @include button(white, #6C6C6C,16px 24px, 4px, 24px);
        border: none;
        font-family: Neue Haas Grotesk Display Pro;
        font-weight: 600;
    }

    button:hover {
        cursor: pointer;
    }

    
}

.second {
    background-color:#1e1e1e;
    padding: 10px;
    display: grid;
    grid-template-columns: repeat(2, 200px);
    grid-template-rows: repeat(2, 200px);
    gap: 5px;


    .item {
        background-color: #215BFF;
        height: 100%;
        width: 100%;
    }

}

@media screen and (max-width: 500px) { 
    body {
        display: flex;
        flex-direction: column;
        height: auto;
        padding: 40px;
    }

    .container{
        margin-bottom: 50px;
    }

    .second {
        grid-template-columns: repeat(2, 100px);
        grid-template-rows: repeat(2, 100px);
        max-width: 300px;
    }

 }



